body {
	font-family: arial;
	display: block;
	background-color: dodgerblue;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
}

label, input {
	display: block;
}

.logo {
	height: 35px;
	display: block;
	margin: 0 auto 30px;
	
}

h1 {
	text-align: center;
	font-weight: 100;
	color: gray;
	padding-bottom: 30px;
	margin: 0;
}

.signup {
	background-color: white;
	border-radius: 3px;
	width: 400px;
	padding: 40px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

* {
	box-sizing: border-box;
}

fieldset {
	border: none;
}

h2 {
	text-align: center;
	color: white;
	font-size: 15px;
}

a:link {
	color: white;
}

button:hover {
	background-color:darkgreen;
}

input, button {
	width: 305px;
	height: 53px;
	border-radius: 3px;
	border: lightgray 2px solid;
}

#email, #password, button {
	font-size: 18px;
	font-family: arial;
}

button {
	background-color: green;
	color: white;
}

#email, #password, button, label {
	margin-bottom: 20px;
}
